<div class="p-footer">
 <div class="p-footer__top">
   <div class="l-inner">
     <div class="p-footer__title">
       <span>株式会社</span>
       <span>ヨシモト</span>
       <span>大阪府知事<br>第27-085916</span>
   </div><!-- /.p-footer__title -->
   <div class="p-footer__lits">
     <p class="p-footer__list c-text">〒597-0105  貝塚市三ツ松1333</p><!-- /.p-footer__list -->
     <p class="p-footer__list c-text">TEL  :  072-421-3555</p><!-- /.p-footer__list -->
     <p class="p-footer__list c-text">FAX  :  072-421-3557</p><!-- /.p-footer__list -->
     <p class="p-footer__list c-text">携帯  :  090-2706-7535</p><!-- /.p-footer__list -->
     <p class="p-footer__list c-text">Mail  :  bKamo703@rinku.zaq.ne.jp</p><!-- /.p-footer__list -->
    </div><!-- /.p-footer__lits -->
  </div><!-- /.l-inner -->
 </div><!-- /.p-footer__top -->
 <div class="p-footer__bottom">
   <div class="p-footer__copy">&copy;2022 株式会社ヨシモト All Rights Reserved.</div><!-- /.p-footer__copy -->
 </div><!-- /.p-footer__bottom -->
</div>
