<header class="l-header p-header js-header">
  <div class="p-header__inner">
  <div class="p-header__main">
    <!-- ヘッダーロゴ -->
      <h1 class="p-header__logo">
        <a href="">
          <span class="p-header__title">ヨシモト</span>
        <img class="logo" src="./images/common/logo.svg" alt="タイトルロゴ">
        <span class="p-header__sub-title">塗装・吹付・防水</span><!-- /.p-header__sub-title -->
      </a>
    </h1><!-- /.header__logo -->
      <!-- メニュー -->
      <nav class="p-header__pc-menu p-header-menu ">
      <ul class="p-header-menu__items">
        <li class="p-header-menu__item"><a href="#about">事業内容</a></li><!-- /.pc-menu__item -->
        <li class="p-header-menu__item"><a href="#case">施工事例</a></li><!-- /.pc-menu__item -->
        <li class="p-header-menu__item"><a href="#company">会社紹介</a></li><!-- /.pc-menu__item -->
      </ul><!-- /.pc-menu__items -->
    </nav><!-- /.header__menu -->
  </div><!-- /.p-header__main -->

    <!-- お問い合わせ -->
  <div class="p-header__sub">
    <%- include('../common/_p-contact') %>
  </div><!-- /.p-contact -->
  
    </div><!-- /.header__inner -->
   </header>
