<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title>南大阪の塗装会社|株式会社ヨシモト</title>
  <!-- SEO系 -->
  <meta name="description" content="南大阪貝塚市を中心に地域密着でお客様目線に立った高品質で確かな外壁塗装を行います">
  <meta name="keywords" content="南大阪の外壁塗装会社、株式会社ヨシモト" />
  <!-- OGP -->
  <meta property="og:title" content="南大阪の塗装会社|株式会社ヨシモト">
  <meta property="og:site_name" content="南大阪の塗装会社|株式会社ヨシモト">
  <meta property="og:description" content="南大阪貝塚市を中心に地域密着でお客様目線に立った高品質で確かな外壁塗装を行います">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.yoshimoto-tosou.com/">
  <meta property="og:image" content="https://www.yoshimoto-tosou.com/images/common/site-image.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="format-detection" content="telephone=no">
  <!-- 自動リンクを無効にする -->
  <!-- <meta name="format-detection" content="telephone=no"> -->
  <!-- タッチアイコン -->
  <link rel="apple-touch-icon" sizes="192x192" href="">
  <link rel="shortcut icon" sizes="192x192" href="">
 <!-- ファビコン -->
  <link rel="icon" href="./images/common/logo.svg" />  
 <!-- クローラー -->
  <!-- <meta name="robots" content="noindex"> -->
  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <!-- css -->
  <link rel="stylesheet" href="./css/styles.css?20220624" />
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   <!-- swiper -->
   <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script defer src="./js/script.js"></script>
</head>
