<div class="p-contact">
  <div class="p-contact__text u-desktop">お問い合わせはこちら</div><!-- /.p__contact-text -->
  <div class="p-contact__text u-mobile">お問い合わせ</div><!-- /.p__contact-text -->
  <div  class="p-contact__tel">
    <a href="tel:+81-90-2706-7535">
      <div class="p-contact__img">
        <img src="./images/common/tel-icon.png" alt="" class="p-contact__tel-icon">
      </div><!-- /.p-contact__img -->
      <div class="p-contact__tel-number">090-2706-7535</div><!-- /.p-contact__tel-number -->
    </a>
  </div><!-- /.p-contact-tel -->
</div><!-- /.p-contact -->