@use 'global' as * ; 

.p-header {
  height: rem(81);
  background: $white;
  
  @include mq(tab) {
   height: rem(110);
   
 }

}

.p-header.change-color {
 border-bottom: 3px solid $color-accent;
 }
 
 .p-header__inner {
   padding: 0 rem(20);
   height: inherit;
   
   @include mq(tab) {
     display: flex;
     align-items: center;
     padding-left: rem(25);
     padding-right: rem(25);
   }
 
 }

 .p-header__main {


 }
 .p-header__logo {
   height: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: rem(5);
   border-bottom: 1px solid $color-title-back;
   
   @include mq(tab) {
   
     
   }
 
 }

.p-header__logo a {
  display: flex;
  align-items: center;
}

 .p-header__title {
  display: block;
  font-size: rem(25);
  font-weight: $bold;
  
  @include mq(tab) {
    font-size: rem(35);
    
  }
 }

 .p-header__sub-title {
  display: block;
  font-size: rem(20);
  margin-left: rem(10);
  
  @include mq(tab) {
    font-size: rem(25);
    
  }
 }
 
 .p-header__logo img {
   width: rem(30);
   margin-left: rem(10);
   
    @include mq(tab) {
      width: rem(57);
 
    }
 }
 
 .p-header__pc-menu {
   padding-top: rem(5);
   
   @include mq(tab) {
     
     
   }
 }

 .p-header__sub {
   display: none ; 

   @include mq(tab) {
     display: block;
     margin-left: auto;
   }


 }