@use 'global' as * ; 

.p-header-menu {
 
}

.p-header-menu__items {
  display: flex;
  height: inherit;
  align-items: center; 
  justify-content: center;

}

.p-header-menu__item {
height: inherit;

}

.p-header-menu__item + .p-header-menu__item {
  position: relative;
}

.p-header-menu__item + .p-header-menu__item::before {
  content: "";
  display: block;
  width: rem(1);
  height: rem(15);
  background-color: $color-main;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  
  @include mq(tab) {
    height: rem(30);
    
  }
  

}

.p-header-menu__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding:  0 rem(15);
  
  @include mq(tab) {
    padding:  0 rem(38);
    
  }

}