//ZoomIn用
.p-mv-slider {
  width: 100%;
  height: inherit;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      //Prevスライド
      .swiper-slide-prev,
      //Activeスライド
      .swiper-slide-active,
      //ループ時に複製される正面のスライド
      .swiper-slide-duplicate-active {
          img {
              animation-name: zoom;
              animation-duration: 8s;
              animation-fill-mode: forwards;
          }
      }
  }
}
@keyframes zoom {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(1.5);
  }
}